/* Small tweaks for dynamic form fields */


td#right {	padding-top: 5px; }

.dynamic-field { margin: 2px auto !important; }

.red { border-color: red !important; }

.error { font-weight: normal; font-size: 1em; min-height: 14px; height: 14px; overflow: hidden; margin: 0; padding: 0; }

#left, #right { vertical-align: top; }

#r, #l { height: 45px !important; }

#oversizedCount { display: none; }

select { padding: 0.45px !important; }

.hide {
	display: none !important;
}
